* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    }
    #homepage {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    }
    .boxes {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.box:hover{
    /* background: linear-gradient();
     */
     /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
     background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    cursor: pointer;
    scale:1.1;

}
.box {
    margin: 10px;
    padding: 15px;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.box1 {
    align-self: flex-end;
    margin-top: 3px;
    height: 16px;
    width: 60px;
    text-align: right;
    font-weight: bold;
}
.img {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 60%;
    height: auto;
    border-radius: 50%;
}
.name h2 {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
}
.symbol, .price, .marketcap, .price_change_24th {
    text-align: center;
    margin: 5px 0;
    font-size: 0.9em;
}
.symbol label, .price label, .marketcap label, .price_change_24th label {
    font-weight: bold;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}
select{
    width: 200px;
    height: 30px;
    font-size: 0.9em;
    border-radius: 5px;
    margin-top: 3px;
}

select option{
    font-size: 0.8rem;
    text-align: center;
}
